body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.ingredient {
    display: flex;
    gap: 10px;
}

hr {
    margin: 15px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
